# Netlify / Local Environment Variables
VITE_SUPABASE_URL=https://lmybxncwypghjyeclcih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxteWJ4bmN3eXBnaGp5ZWNsY2loIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3NzYzNDYsImV4cCI6MjEwMjM1MjM0Nn0.Q6giznlijhdpvKUUA3sICIFyPJTy56eUX3MdyCA0FhA
